<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Application{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <navbar>
            {% block navbar %}
            {% if is_granted('IS_AUTHENTICATED') %}
                {{ include('header/connected.html.twig') }}
            {% else %}
                {{ include('header/notConnected.html.twig') }}

            {% endif %}
            {% endblock %}
        </navbar>
        <div class="flex flex-row">
            <div id="sidebar" class="flex w-1/4 justify-center bg-gray-300">
                    <ul>
                        <li>Nom</li>
                        <li>Type</li>
                        <li>Rarity</li>
                        <li>Price</li>
                        <li>Stat1</li>
                        <li>Stat2</li>
                    </ul>
            </div>
            <div id="content" class="bg-gray-100 w-3/4 flex flex-col h-screen">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>