<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Application{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <navbar>
            {% block navbar %}
                <ul class="flex justify-end">
                    <li class="mr-3">
                        <a class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white" href="#">Active Pill</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3" href="#">Pill</a>
                    </li>
                </ul>
            {% endblock %}
        </navbar>
        <div class="flex flex-row">
            <div id="sidebar" class="flex w-1/4 justify-center bg-gray-300">
                    <ul>
                        <li>Nom</li>
                        <li>Type</li>
                        <li>Rarity</li>
                        <li>Price</li>
                        <li>Stat1</li>
                        <li>Stat2</li>
                    </ul>
            </div>
            <div id="content" class="bg-gray-100 w-3/4">
                {% block content %}
                    
                {% endblock %}
            </div>
        </div>
    </body>
</html>