{% extends 'base.html.twig' %}

{% block navbar %}
    {# {{ user.id }} #}
{% endblock %}

{% block content %}
    {% for item in items %}
        <div class="h-[10%]">
            {{ item.id }}
            {{ item.name }}
        </div>
    {% endfor %}
{% endblock %}
